body{
  background-color: pink;
}

body {
    color: #247DCB;
}
.btn {
    cursor: pointer;
}
.clicked {
    color: #0A1A29;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
