body{
  background-color: #F7DBF2;
}

body {
    color: gray;
}
.btn {
    cursor: pointer;
}
.title {
    color: #AF7AC5;
}
.clicked {
    color: #8E44AD;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
